.footer {
  background: #b4a173;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(26, 39, 28, 0.7);
  font-size: 14px;
  font-weight: 580;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 2px;
}

.social-icons a {
  position: relative;
  display: inline-block;
  transition: color 0.3s;
}

.social-icons a .icon,
.social-icons a i,
.social-icons a svg {
  transition: color 0.3s, transform 0.5s;
}

.social-icons a:hover .icon,
.social-icons a:hover i,
.social-icons a:hover svg {
  color: #fff;
  transform: rotateY(360deg);
}


.footer-links a {
  color: rgb(28, 90, 32);
  opacity: 0.4;
  text-decoration: none;
  font-size: 30px;
  transition: opacity 0.3s ease;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-contact,
.footer-rights {
  display: flex;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 10px;
    text-align: center;
  }

  .footer-contact,
  .footer-rights {
    justify-content: center;
  }

  .footer-links {
    align-items: center;
  }
}
