// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-image: url('logo1.png');
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  min-height: 100vh;
}

.rounded-circle {
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  text-shadow: 2px 2px 5px #292929;
}

.form-control-label {
  font-weight: bold;
  color: #234A2F;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
}
