// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";
@import "components/cards"; // if you put it in _cards.scss

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

body {
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #E7EFC7;
  min-height: 100vh;
}

.rounded-circle {
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  text-shadow: 2px 2px 5px #292929;
  font-weight: bold;
}

.form-label, .form-check-label {
  font-weight: bold;
  color: #3B3B1A;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
  margin-left: 0.3em;
}

.circle-map {
  border-radius: 50%;
  overflow: hidden;
}

.mapboxgl-ctrl-geocoder input {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
}

.map-responsive {
  width: 100%;
  max-width: 600px;
  height: 200px;
  max-height: 600px;
  min-height: 120px;
}


@media (min-width: 576px) {
  .map-responsive {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .map-responsive {
    width: 600px;
    height: 600px;
  }
}

.text-danger{
  color: #eb5e48be !important;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
